

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    background-color: #c3c3c3;
    margin: 1vw 1vw;
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3vw;
    margin-top: 5vw; 
    color: rgb(36, 36, 36);
    border: 1vw solid rgb(139, 139, 139);
    padding: 2vw;
}

h2 {
    font-size: 2vw;
    color: rgb(75, 75, 75);

}

figure {
    width: 80%;

    background-color: rgba(83, 83, 83, 0.62);
    display: flex;
    flex-direction: column;
    padding: 2vw;
    align-items: center;
    justify-content: center;
}

img {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 3693px;
}

figcaption {
    font-size: 1.5vw;
    padding: 2vw 0 0 0;
    color: rgb(31, 31, 31);

}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 8vh;
    font-size: 3vw;
    border: .7vw solid rgb(139, 139, 139);
    padding: 1vw;

}
p {
    font-size: 1.5vw;
    margin: 1vw 10vw;
    text-align: start;
}

h4 {
    margin-top: 5vw;
    font-size: 1.5vw;
}